<div class="form-group">
    <label for='@ViewData["Name"]'>@ViewData["Label"]</label>
    <input name='@ViewData["Name"]' class='form-control' id='@ViewData["Name"]' @Html.Raw(ViewData["Attributes"])>
</div>
