<div class="icheck-primary">
    <input type="checkbox" name='@ViewData["Name"]' id='@ViewData["Id"]' @Html.Raw(ViewData["Attributes"])>
    <label for="@ViewData["Id"]">
        @ViewData["Label"]
    </label>
</div>